#report-container {
  width: 190px;
  height: fit-content;

  padding: 8px;
  background-color: #a0c8e468;
  border-radius: 4px;
}

#progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-message-box {
  display: flex;
  justify-content: center;
}

.report-message {
  @include bodytext(16px, 300);
}

.report-numbers {
  @include bodytext(18px, 600);
}

#Bar {
  width: 150px;
  height: 150px;
  border-radius: 250px;
}
